<app-header></app-header>
<main>
    <section>
        <div class="bubbleContainer">
        </div>
    </section>
    <section>
        <div id="partOne">
            <h1>
                <div class="stack" style="--stacks: 3;">
                    <span style="--index: 0;">CONTACT</span>
                    <span style="--index: 1;">CONTACT</span>
                    <span style="--index: 2;">CONTACT</span>
                  </div>
            </h1>
            <h2>Me</h2>
            <p>Saptam is a well-rounded website and app designer and developer with 6 years of experience working as a
                developer and brand identity designer for large corporations, mainly in the e-commerce sector.
            </p>
            <hr>
            <ul>
                <li>+919517457296</li>
                <li>saptampro2003@gmail.com</li>
            </ul>
            <div>
                <a href="tel:+919517457296"><button>Call Me</button></a>
                <a href="mailto:saptampro2003@gmail.com"><button>Mail Me</button></a>
            </div>
        </div>
        <div id="partTwo">
            <form>
                <input type="text" name="fullName">
                <input type="email" name="email">
                <input type="text" name="message">
            </form>
        </div>
    </section>
</main>