<app-header></app-header>
<main>
    <section>
        <div>
            <h1>KUMAR SAPTAM</h1>
            <!-- <H1>SAPTAM</H1> -->
        </div>
    </section>
    <!-- <section>
        <p style="font-size: 150px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur cursus tincidunt commodo. Nunc justo nisi, vestibulum facilisis porta vestibulum, ultrices volutpat arcu. Quisque nec dui mattis, fringilla magna in, vulputate enim. Fusce ut euismod ligula, id laoreet ex. </p>
    </section> -->
</main>
<app-footer></app-footer>