<app-header></app-header>
<main>
    <section id="feature">
        <div class="bgContainer">
            <div>
                <p class="mainTitle">Kumar Saptam</p>
            </div>
            <!-- <h3>Self Taught Programmer</h3> -->
            <div class="words">
                <span>S</span>
                <span>A</span>
                <span>P</span>
                <span>Y</span>
                <span>T</span>
                <span>H</span>
                <span>O</span>
                <span>N</span>
            </div>
        </div>
    </section>
    <section id="projects">
        <h2 class="text-white text-5xl text-center">Services</h2>
        <div class="grid-flow-row bg-green-300 w-10 h-10 m-8">
            <app-project-card></app-project-card>
        </div>
    </section>
</main>
<div class="bubbleContainer">
</div>
<app-footer></app-footer>