<app-header></app-header>
<main>
    <section>
        <div class="bgContainer">
            <div>
                <p class="mainTitle">Kumar Saptam</p>
            </div>
            <!-- <h3>Self Taught Programmer</h3> -->
            <div class="words">
                <span>S</span>
                <span>A</span>
                <span>P</span>
                <span>Y</span>
                <span>T</span>
                <span>H</span>
                <span>O</span>
                <span>N</span>
            </div>
        </div>
    </section>
    <button (click)="authService.loginAnonymously()">Sign in</button>
    <section>
        <h1  class="mv">About Me</h1>
        <img src="./assets/authorImages/Kumar Saptam.jpg" alt="" class="mv">
        <app-full-card class="mv"></app-full-card>
    </section>
</main>
<div class="bubbleContainer">
</div>
<app-footer></app-footer>