@keyframes move {
  0% {
    transform: translate(-30%, 0);
  }
  50% {
    text-shadow: 0 25px 50px rgb(0, 0, 0);
    color: var(--primary-color);
  }
  100% {
    transform: translate(30%, 0);
  }
}
@keyframes tipsy {
  0% {
    transform: translateX(-50%) translateY(-50%) rotate(0deg);
  }
  100% {
    transform: translateX(-50%) translateY(-50%) rotate(360deg);
  }
}
@mixin posCenterYvar($y) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, $y);
}
section{
  background-color: rgb(var(--primaryBgColor));
  z-index: -10;

}
section > * {
  z-index: 1;
  background-color: rgba(var(--primaryBgColor), 0.7);
}
main {
  section:nth-child(1) {
    height:100vh;
    position: relative;
    z-index: -10;
    background-color: rgb(var(--primaryBgColor));
    .bgContainer {
      position: relative;
      z-index: 1;
      height: 100vh;
      background-color: rgba(var(--primaryBgColor), 0.7);
      div {
        .mainTitle {
          color: rgb(214, 213, 255);
          text-shadow: 0 20px 25px #0b0b0c, 0 40px 60px #060607;
          font-size: 5rem;
          font-family: var(--fontDesigner);
          font-weight: bold;
          text-decoration: none;
          margin: 0;
          position: absolute;
          top: 40%;
          left: 50%;
          transform: translateX(-50%) translateY(-70%);
        }

        .mainTitle:before,
        .mainTitle:after {
          content: "";
          padding: 0.9em 0.4em;
          position: absolute;
          left: 50%;
          width: 100%;
          top: 50%;
          display: block;
          border: 15px solid red;
          transform: translateX(-50%) translateY(-50%) rotate(0deg);
          animation: 10s infinite alternate ease-in-out tipsy;
        }

        .mainTitle:before {
          border-color: var(--primary-color) var(--primary-color)
            rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
          z-index: -1;
        }

        .mainTitle:after {
          border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) var(--primary-color)
            var(--primary-color);
          box-shadow: 25px 25px 25px rgba(12, 12, 12, 0.8);
        }
      }
      .words {
        @include posCenterYvar(700%);
        color: rgb(var(--primaryBgColor));
        font-size: 0;
        font-family: var(--fontPrimary);
        line-height: 1.5;
        span {
          font-size: 2rem;
          display: inline-block;
          animation: move 3s infinite;
        }
        span:nth-child(1) {
          animation-delay: 0.5s;
        }
        span:nth-child(2) {
          animation-delay: 1s;
        }
        span:nth-child(3) {
          animation-delay: 1.5s;
        }
        span:nth-child(4) {
          animation-delay: 2s;
        }
        span:nth-child(5) {
          animation-delay: 2.5s;
        }
        span:nth-child(6) {
          animation-delay: 3s;
        }
        span:nth-child(7) {
          animation-delay: 3.5s;
        }
        span:nth-child(8) {
          animation-delay: 3.5s;
        }
      }
    }
  }
}
section:nth-child(2) {
  margin-top: -16px;
  padding:50px;
} 
section:nth-child(2) > h1 {
  margin: 0%;
  color:white;
  z-index: none;
  text-align: center;
}
section:nth-child(2) > div > app-project-card:nth-child(1){
  background-color: rgb(var(--palletFour));
}
section:nth-child(2) > div > app-project-card:nth-child(2){
  background-color: rgb(var(--palletFive));
}
section:nth-child(2) > div > app-project-card:nth-child(3){
  background-color: rgb(var(--palletFive));
}
section:nth-child(2) > div > app-project-card:nth-child(4){
  background-color: rgb(var(--palletFour));
}
section > img{
  border-radius: 50%;
  margin:40px;
  width:200px;
  height:200px;
  box-shadow:
  3.1px 2px 3.5px -70px rgba(0, 0, 0, 0.098),
  7.2px 4.7px 8px -70px rgba(0, 0, 0, 0.142),
  12.9px 8.5px 14.4px -70px rgba(0, 0, 0, 0.175),
  21.4px 14.1px 23.9px -70px rgba(0, 0, 0, 0.205),
  35.2px 23.3px 39.4px -70px rgba(0, 0, 0, 0.238),
  61.5px 40.7px 68.9px -70px rgba(0, 0, 0, 0.282),
  133px 88px 149px -70px rgba(0, 0, 0, 0.38);
}
h2{
  color:white;
  font-size: 40px;
  font-weight: 300;
  text-align: center;
  margin: 0;
  text-transform: uppercase;
}
.flex{
  margin:0 auto;
  position: relative;
  width:fit-content;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  // grid-gap: 10px;
  padding-top: 100px;
  grid-column-gap: 30px;
  grid-row-gap: 50px;
  justify-items: center;
  align-items: center;
}

@media screen and (max-width: 1370px) {
  .bgContainer > div > h1 {
    top: 40%;
    font-size: 3rem;
    letter-spacing: 1px;
  }
  .bgContainer > div > h1:before,
  .bgContainer > div > h1:after {
    border: 13px solid var(--primary-color);
  }
  .bgContainer > div > h1:before {
    border-color: var(--primary-color) var(--primary-color) rgba(0, 0, 0, 0)
      rgba(0, 0, 0, 0);
    z-index: -1;
  }
  .bgContainer > div > h1:before {
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) var(--primary-color)
      var(--primary-color);
    box-shadow: 25px 25px 25px rgba(12, 12, 12, 0.8);
  }
  .words {
    @include posCenterYvar(30vh);
  }
}
@media screen and (max-width: 900px) {
  .bgContainer > div > h1 {
    top: 40%;
    font-size: 2.5rem;
    letter-spacing: 1px;
  }
  .bgContainer > div > h1:before,
  .bgContainer > div > h1:after {
    border: 10px solid var(--primary-color);
  }
}
@media screen and (max-width: 700px) {
  .bgContainer > div > h1 {
    top: 40%;
    font-size: 1.5rem;
    letter-spacing: 1px;
  }
  .bgContainer > div > h1:before,
  .bgContainer > div > h1:after {
    border: 6px solid var(--primary-color);
  }
}
