<nav #nav>
    <div>
        <div id="logo">
            <img src="./assets/icons/icon-512x512.png" alt="Sapython">
            <p>&nbsp;Sapython</p>
        </div>
        <input type="search" class="mv" placeholder="Search Anything..">
        <ul>
            <li><a routerLink="" class="mv">Home</a></li>
            <li><a routerLink="about" class="mv">About</a></li>
            <li><a href="#" class="mv">Contact</a></li>
        </ul>
        <div class="actions">
            <button (click)="toggleNotificationFunction()">
                <i [hidden]="!toggleNotification" class="ri-notification-4-fill"></i>
                <i [hidden]="toggleNotification" class="ri-notification-off-fill" ></i>
            </button>
            <button>
                <i class="ri-terminal-box-fill"></i>
            </button>
        </div>
        <div class="user" *ngIf="dataProvider.loggedIn">
            <mat-progress-spinner [diameter]="30" color="accent" mode="indeterminate" *ngIf="dataProvider.gettingUserData"></mat-progress-spinner>
            <img [src]="dataProvider.userData?.photoURL" *ngIf="!dataProvider.gettingUserData" alt="">
        </div>
    </div>
</nav>