<nav #nav>
    <div>
        <div id="logo">
            <img src="./assets/icons/icon-512x512.png" alt="Sapython">
            <p>&nbsp;Sapython</p>
        </div>
        <input type="search" class="mv">
        <ul>
            <li><a routerLink="" class="mv">Home</a></li>
            <li><a routerLink="about" class="mv">About</a></li>
            <li><a href="#" class="mv">Contact</a></li>
        </ul>
        <div class="user">
            <img src="./assets/icons/icon-512x512.png" alt="">
        </div>
    </div>
</nav>