// Animtions

// Animtions end

nav {
  position: fixed;
  display: flex;
  justify-content: space-around;
  background-color: rgb(var(--headerColor));
  padding: 10px;
  padding-top: 20px;
  color: white;
  z-index:100;
  width: 100vw;
  div {
    width: 75vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    div {
      width: 50px;
      img {
        border-radius: 50%;
        width: 50px;
        height: 50px;
      }
    }
    input[type="search"] {
      width: 300px;
      height: 30px;
      border-radius: 5px;
      border: none;
      padding: 5px;
      background-color: #2d3444;
      color: white;
    }
    ul {
      display: flex;
      list-style: none;
      margin-left: 20px;
      li {
        list-style: none;
        a {
          color: white;
          text-decoration: none;
          padding: 10px;
        }
      }
    }
  }
}
nav > div { 
  .actions{
    display: flex;
    justify-content: space-evenly;
    width: 100px;
    button {
      font-size: 25px;
      color:#3ca1ff;
      background-color: transparent;
      border: none;
      cursor: pointer;
      i{
        animation: fadeIn 0.3s linear;
        transition: all 0.3s;
      }
      i:nth-child(2){
        // color:#2d3444;
        animation: offColorfadeIn 0.5s linear forwards;
      }
    }
  }
  // button:nth-child(2){
  //   color:#2d3444;
  //   // animation: offColorfadeIn 0.5s linear;
  // }
}
@keyframes offColorfadeIn{
  0%{
    color: #3ca1ff;
  }
  100%{
    color: #ef506f;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.scrolled {
  position: sticky;
  top: 0;
  background-color: var(--extraDarkBgColor);
  animation: showHeader 0.5s linear;
}
#logo {
  display: flex;
  align-items: center;
  width: 50px;
  height: 50px;
}
#logo > p {
  font-size: 20px;
  font-family: Vintage;
}
